body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #5d5c5d;
    font-family: Arial, monospace;
    font-size: 12pt;
    font-style: inherit;
}
td{
    padding: 10px;
    margin: 0;
    vertical-align: top;
}
.verst{
    margin: 0;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    margin: 0;
}

.page{
    background: #5d5c5d;
    color: #f4f4f4;
    height: 100%;
}

.main-table{
    margin: 0;
    border-spacing: 0;
    width: 90%;
    padding: 10%;
    color: #f4f4f4;
}

.footer{
    background: #373737;
    width: 100%;
    height: 7%;
    position: fixed;
    left: 0; bottom: 0;
    padding: 0.5%;
    margin: 0;
    color: #fff;
    display: flex;
    justify-content: center;
}


.github{
    width: 8%;
    padding-left: 50%;
}
.left{
    text-align: left;
    vertical-align: bottom;
}

.right{
    text-align: right;
    vertical-align: bottom;
}



.cell{
    border: solid 1px whitesmoke;
    text-align: center;
}


#answer, #first_line{
    text-align: center;
    height: 40px;
}

.send_wrapper{
    text-align: center;
}

.formtab{
    background: #373737;
    border-radius: 7%;
    color: #f4f4f4;
    padding: 8%;
    margin: 5%;
}
.formtab:hover{
    box-shadow: 0 0 5px 2px lightsalmon;
    z-index: 99;
}
.header{
    color: #f4f4f4;
    background: #373737;
    height: 50px;
}
.head-img{
    width: 5%;
    padding-right: 5%;
}